---
layout: default
---

<br/>

<div class="post-title">
    <div class="title">
        <h2>{{ page.title }}</h2>
    </div>
</div>

<div>
    <br/>
</div>

{{ content }}

<hr />
<h3>Sharing</h3>
<p>Note: If you cannot view comment section, it may be because of the GFW.</p>

<div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.url }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://a1exwang.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
